
@media (max-width: 1100px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 90%;
  }
  .how-it-works .container .cards  {
    width: 100%;
  }
}
@media (max-width: 810px) {
  /* For a screen < 720px, this CSS will be read */
  .cards {
  flex-direction: column;
  align-items: center;
  }

  .card{
    margin-bottom: 20px;
  }
}
