.card {
  width: 270px;
  height: 350px;
  background-color: white;
  box-shadow: 0 2px 10px rgba(255,100,100,0.5);
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card img {
  width: 250px;
  height: 250px;
  margin: 10px auto;
  object-fit: cover;
}
.card h3 {
  color: #ff6464;
  font-family: 'Marck Script', cursive;
  font-size: 22px;
  padding: 20px;
  text-align: center;
}
